/* about */
#about {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.about-text {
  flex: 2 1 40rem;
  justify-content: space-around;
  background: var(--main-colour);
  color: white;
}

.about-text div {
  padding: 3rem 8rem;
}

.about-text h3 {
  padding: 2rem 0rem;
  font-family: "Ruhl Medium";
}

.about-text h2 {
  padding-top: 3rem;
  font-family: "Vibes";
}

.about-image {
  position: relative;
  flex: 1 1 40rem;
  overflow: hidden;
  background: url("../img/about-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-image h5 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  letter-spacing: 1rem;
}

/* media queries */
@media screen and (max-width: 842px) {
  .about-text div {
    padding: 3rem 3rem;
  }

  .about-image {
    display: none;
  }
}

